
kaggle-tabular-playground-series-dec-2021/inputs/tabular-playground-series-dec-2021.zip
kaggle-tabular-playground-series-dec-2021/inputs/test.csv
kaggle-tabular-playground-series-dec-2021/inputs/train.csv
